<html>
<body>
<h3>Dear ${user.username}, </h3>

<p>
    Someone has requested that your password to  ${serverInfo.serverName} be reset. Please click the following link
    to reset your password. If clicking the link does not work, please copy and paste the link into your browser.<br>
</p>

<p>
    <a href="http://commander.theenergydetective.com/#ResetPasswordPlace:${securityKey}">http://commander.theenergydetective.com/#ResetPasswordPlace:${securityKey}</a>
</p>

Thanks, <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://${serverInfo.serverName}">TED Commander</a>

</body>

</html>
